Source: carbonapi
Section: devel
Priority: optional
Maintainer: Hiroaki Nakamura <hnakamur@gmail.com>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 4.1.1
Homepage: https://github.com/go-graphite/carbonapi
Vcs-Browser: https://github.com/hnakamur/carbonapi-deb.git
Vcs-Git: https://github.com/hnakamur/carbonapi-deb.git
XS-Go-Import-Path: github.com/go-graphite/carbonapi

Package: carbonapi
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: carbonapi: replacement graphite API server
