#!/usr/bin/make -f

INSTALLDIR = $(CURDIR)/debian/carbonapi

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_build:
	make carbonapi

override_dh_test:
	make test

override_dh_install:
	dh_install
	mkdir -p $(INSTALLDIR)/etc/default
	install -m 644 debian/carbonapi.env $(INSTALLDIR)/etc/default/carbonapi

override_dh_installinit:
	dh_installinit --no-start -- carbonapi
